body {
    font-family: Arial;
    margin: 0;
    transition: 0.3s;
}

.container {
    text-align: center;
    padding: 40px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    transition: 0.3s;
}

/* 🌞 LIGHT */
.light {
    background: #f2f2f2;
    color: black;
}

/* 🌙 DARK */
.dark {
    background: #121212;
    color: white;
}

.dark li {
    background: #1f1f1f;
}